* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}

.container {
    max-width: 360px;
    background-color: tomato;
    width: 100%;
    padding: 30px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4);
}

.rating {
    display: flex;
    padding: 0;
    margin: 0;
}

.rating li {
    list-style-type: none;
}

.rating-item {
    cursor: pointer;
    font-size: 2em;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.rating:hover {
    color: yellow;
}

.rating-item::before {
    content: "\2605";
}

.rating-item.active~.rating-item::before {
    content: "\2606";
}

.rating:hover .rating-item::before {
    content: "\2605";
}

.rating-item:hover~.rating-item::before {
    content: "\2606";
}